/* css styles */

/*-- scss:rules --*/
.bug1 {
  color: #785EF0;
}

.bug2 {
  color: #DC267F;
}

.bug3 {
  color: #FE6100;
}

.bug4 {
  color: #FFB000;
}

.bug5 {
  color: #4C8C05;
}

.bug6 {
  color: #35F448;
}

.ripe{
  color: #E30B5C;
  font-weight: bold;
}
.unripe{
  color: #93817D;
  font-weight:bold;
}