[submodule "teaching/courses/2022_lin517/notation"]
	path = teaching/courses/2022_lin517/notation
	url = https://github.com/JoFrhwld/notation.git
[submodule "teaching/courses/2022_lin517/reading"]
	path = teaching/courses/2022_lin517/reading
	url = https://github.com/JoFrhwld/reading.git
[submodule "teaching/courses/2022_lin517/what_is_nlp"]
	path = teaching/courses/2022_lin517/what_is_nlp
	url = https://github.com/JoFrhwld/what_is_nlp.git
[submodule "teaching/courses/2022_lin517/macsetup"]
	path = teaching/courses/2022_lin517/macsetup
	url = https://github.com/JoFrhwld/macsetup.git
[submodule "teaching/courses/2022_lin517/data_sparsity"]
	path = teaching/courses/2022_lin517/data_sparsity
	url = https://github.com/JoFrhwld/data_sparsity.git
[submodule "data_sparsity"]
	path = data_sparsity
	url = https://github.com/JoFrhwld/data_sparsity.git
