---
layout: main
title: Josef Fruehwald
---

<a name = "home"></a>
<ul id="topnav">
	<li id = "curr">Home</li>
	<li><a href="#papers">&darr;Papers and Presentations</a></li>
	<li><a href = "{{ "/eVoweluate/" | prepend: site.baseurl}}">The eVoweluate survey</a></li>
	<li><a href = "{{ "/blog/" | prepend: site.baseurl}}">The Blog&rarr;</a></li>
</ul>



<div class = "section group">
	<div class = "col span_1_of_3">
		<div class = "imgbox">
			<img src = "assets/joseff_vertical.jpg">
		</div>
	</div>
	<div class = "col span_1_of_3">
		<div class = "box">
			<h2>About Me</h2>
			<p>I am a Lecturer in Sociolinguistics in <a href = "http://www.lel.ed.ac.uk/">Linguistics and English Language</a>
			 	in the <a href = "http://www.ppls.ed.ac.uk/">School of Philosophy, Psychology and Language Sciences</a> at the 
			 	<a href = "http://www.ed.ac.uk/home">University of Edinburgh</a>.
				My interests within linguistics are sociolinguistics, variation and change, phonetics, and phonology.

		</div>
	</div>
	<div class = "col span_1_of_3">
		<div class = "box">
		<h3>Contact</h3>
		<table>
			<tr>
				<td style="vertical-align:top">e-mail:</td>
				<td>
					<script language="JavaScript">
		 		<!-- 

		 		var email = "josef.frueh"; var emailHost = "ed.ac.uk"
		 		document.write("<a href=" + "mai" + "lto:" +email +
		 		"&#64;" + emailHost+ ">" + "<b"+">"+ email + "&#64;" + emailHost + "</"+"b>"+"</a>")

			 	//-->
				</script>
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top">
					phone:
				</td>
				<td>
					<a href="tel:+4401316503983">+44/(0) 131 650 3983</a>
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top">snail-mail:</td>
				<td>Linguistics & English Language<br>
					The University of Edinburgh<br>
					Dugald Stewart Building<br>
					3 Charles Street<br>
					Edinburgh, EH8 9AD<br>
					United Kingdom 
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top">
					office:
				</td>
				<td>
					Dugald Steward Building 2.11
				</td>
			</tr>
		</table>
		</div>
	</div>
</div>

<div class = "section group">
	<div class = "col span_1_of_3">
		<div class = "pubbox">
			<h3>Recent Updates</h3>
			{% include post_list %}
		</div>
	</div>

	<div class = "col span_1_of_3">
		<div class = "box">
			<details>
			<summary>Schedule a meeting with me &rarr;</summary>
			<iframe src="https://jofrhwld.youcanbook.me/?noframe=true&skipHeaderFooter=true" style="width:100%;height:300px;border:0px;background-color:transparent;" frameborder="0" allowtransparency="true" onload="keepInView(this);"></iframe>
			<script>function keepInView(item) {if((document.documentElement&&document.documentElement.scrollTop)||document.body.scrollTop>item.offsetTop)item.scrollIntoView();}</script>

			</details>
		</div>
	</div>
	<div class = "col span_1_of_3">

		<div class = "box">
		<h3>Links</h3>
			<p><a href = "http://www.lel.ed.ac.uk/">Linguistics and English Language</a></p>
			<p><a href = "http://www.ppls.ed.ac.uk/">School of Philosophy, Psychology and Language Sciences</a> </p>
			<p><a href= "rstudy/index.html">R Study Group</a></p>
			<p><a href = "phillymotion.html">Philadelphia Language in Motion</a></p>
			<p><a href = "avml2012/">AVML 2012 workshop on ggplot2</a></p>
		</div>
	</div>	

</div>

<div class = "section group">
	<h2>Journal Papers</h2>
	{% assign pub_type = "rpaper"%}
	{% include pub_sections %}

</div>


<div class = "section group">
	<h2>Working Papers and Proceedings</h2>
	{% assign pub_type = "paper"%}
	{% include pub_sections %}

</div>

<div class = "section group">
	<h2>Invited Talks</h2>
	{% assign pub_type = "italk"%}
	{% include pub_sections %}

</div>

<div class = "section group">
	<h2>Conference Talks and Presentations</h2>
	{% assign pub_type = "talk"%}
	{% include pub_sections %}
</div>




	<div class = "box">
		<h3>Links</h3>
		<p><a href = "http://www.lel.ed.ac.uk/">Linguistics and English Language</a></p>
		<p><a href = "http://www.ppls.ed.ac.uk/">School of Philosophy, Psychology and Language Sciences</a> </p>
		<p><a href= "rstudy/index.html">R Study Group</a></p>
		<p><a href = "phillymotion.html">Philadelphia Language in Motion</a></p>
		<p><a href = "avml2012/">AVML 2012 workshop on ggplot2</a></p>
	</div>	

</div>

<div class = "right">
	<div class = "imgbox">
		<img width=70% src = "assets/joseff.jpg">
	</div>
	<div class = "box">
		<h3>Contact</h3>
		<table>
			<tr>
				<td style="vertical-align:top">e-mail:</td>
				<td>
					<script language="JavaScript">
		 		<!-- 

		 		var email = "josef.frueh"; var emailHost = "ed.ac.uk"
		 		document.write("<a href=" + "mai" + "lto:" +email +
		 		"&#64;" + emailHost+ ">" + "<b"+">"+ email + "&#64;" + emailHost + "</"+"b>"+"</a>")

			 	//-->
				</script>
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top">
					phone:
				</td>
				<td>
					<a href="tel:+4401316503983">+44/(0) 131 650 3983</a>
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top">snail-mail:</td>
				<td>Linguistics & English Language<br>
					The University of Edinburgh<br>
					Dugald Stewart Building<br>
					3 Charles Street<br>
					Edinburgh, EH8 9AD<br>
					United Kingdom 
				</td>
			</tr>
			<tr>
				<td style="vertical-align:top">
					office:
				</td>
				<td>
					Dugald Steward Building 2.11
				</td>
			</tr>
		</table>
	</div>

</div>

<div class = "mid">
	<div class = "col span_2_of_2">
		<div class = "box">
			<details>
			<summary>Schedule a meeting with me &rarr;</summary>
			<iframe src="https://jofrhwld.youcanbook.me/?noframe=true&skipHeaderFooter=true" style="width:100%;height:300px;border:0px;background-color:transparent;" frameborder="0" allowtransparency="true" onload="keepInView(this);"></iframe>
			<script>function keepInView(item) {if((document.documentElement&&document.documentElement.scrollTop)||document.body.scrollTop>item.offsetTop)item.scrollIntoView();}</script>

			</details>
		</div>
	</div>
	<div class = "col span_2_of_2">
	<div class = "box">
		<h3>Recent Updates</h3>
		{% include post_list %}
	</div>
</div>
<a name = "papers"></a>
<div class = "left">
	<div class = "box">
		<h3>Dissertation (2013)</h3>
		{% assign pub_type = "dissertation" %}
		<h4>Dissertation
			<a href = "{{ pub_type | prepend: "/" | prepend: site.baseurl | append: ".html"}}" id = "nav">&rarr;</a></h4>
		{% include diss_table %}

		<h4>Proposal</h4>
		{% assign pub_type = "proposal" %}
		{% include pub_table %}
	</div>
	<div class = "box">
		{% assign pub_type = "paper"%}
		<h3>Working Papers and Proceedings 
			<a href = "{{ pub_type | prepend: "/" | prepend: site.baseurl | append: ".html"}}" id = "nav">&rarr;</a></h3>
		{% include pub_table %}
	</div>
	<div class = "box">
		{% assign pub_type = "workshop"%}
		<h3>Workshops
			<a href = "{{ pub_type | prepend: "/" | prepend: site.baseurl | append: ".html"}}" id = "nav">&rarr;</a></h3>

		{% include pub_table %}
	</div>

</div>

<div class = "right">
	<div class = "box">
		{% assign pub_type = "rpaper"%}
		<h3>Journal Papers 
			<a href = "{{ pub_type | prepend: "/" | prepend: site.baseurl | append: ".html"}}" id = "nav">&rarr;</a></h3>

		{% include pub_table %}
	</div>
	<div class = "box">
		{% assign pub_type = "talk"%}
		<h3>Talks and Presentations 
			<a href = "{{ pub_type | prepend: "/" | prepend: site.baseurl | append: ".html"}}" id = "nav">&rarr;</a></h3>

		{% include pub_table %}
	</div>
	<div class = "box">
		{% assign pub_type = "italk"%}
		<h3>Invited Talks 
			<a href = "{{ pub_type | prepend: "/" | prepend: site.baseurl | append: ".html"}}" id = "nav">&rarr;</a></h3>

		{% include pub_table %}		
	</div>

</div>


