---

---
@import "";

.biobar{
    width: 100%;
    float: left;
    margin-bottom: 5%;
}

.biobox{
    width: 40%;
    margin-left: 3%;
    margin-right: auto;
    float: left;
}

ul.social-media-list{
    display: inline;
}