<!DOCTYPE html>
 <html>
 	{% include head %}
	<body>
	<body>
	<header>
	  <a href = "{{site.baseurl}}/"class="logo"><h1>Josef Fruehwald</h1></a>
	  	<nav class="nav-collapse">
    		<ul>
      			<li class="menu-item"><a href = "{{site.baseurl}}/#{{page.pub_type}}">Home</a></li>
    		</ul>
  		</nav>
	</header>

		<div class="container">
				<h1>{{ page.title }}</h1>
				<h2>Josef Fruehwald, 2013</h2>
				{% for post in site.posts %}
					{% if post.categories contains page.pub_type %}
				<section>
					<div class = "section group">

						<div class = "col span_2_of_2">


					<h2>{{ post.title }}</h2>

				<div class = "box">

				<h3>Abstract</h3>
				
				{{ post.abstract }}
				
				{% if post.docs.size > 0 %}
					<p>
						{% for doc in post.docs %}
							{% if doc.local == true %}
							<a href = "{{doc.url | prepend: site.baseurl}}">
							{% else %}
							<a href = "{{doc.url}}">
							{% endif %}
							{{doc.format}}</a><br>
						{% endfor %}
					</p>
				{%endif%}
				</div><!--box-->
				</div>
				</div>
				</section>

				<hr class = "style-two">
				{% endif %}
				{% endfor %}
		</div>
		{% include footer.html %}

		<script src="{{site.baseurl}}/fixed-nav/js/fastclick.js"></script>
		<script src="{{site.baseurl}}/fixed-nav/js/scroll.js"></script>
		<script src="{{site.baseurl}}/fixed-nav/js/fixed-responsive-nav.js"></script>

	</body>
	{% include analytics %}
 </html>