<!DOCTYPE html>
 <html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/col.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/2cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/3cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/4cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/5cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/6cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/7cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/8cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/9cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/10cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/11cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/12cols.css" media="all">

		<!-- Responsive Stylesheets -->
		<link rel="stylesheet" media="only screen and (max-width: 1024px) and (min-width: 769px)" href="{{site.baseurl}}/GRID/css/1024.css">
		<link rel="stylesheet" media="only screen and (max-width: 768px) and (min-width: 481px)" href="{{site.baseurl}}/GRID/css/768.css">
		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="{{site.baseurl}}/GRID/css/480.css">

		<link rel="stylesheet" href="{{site.baseurl}}/fixed-nav/css/styles.css">
		<link rel="stylesheet" href="{{site.baseurl}}/assets/mystyle.css">

	    <script src="{{site.baseurl}}/fixed-nav/js/responsive-nav.js"></script>	
	  </head>
	<body>
	<body>
		<div class="container">
			<h1>{{ page.title }}
				{% for post in site.posts %}
					{% if post.categories contains page.pub_type %}

				<section>
				<h2>{{ post.title }}</h2>
				<p>{{ post.date | date: "%B %d, %Y" }}</p>
				<div class = "box">

					{{post.content}}

					<a href = "{{post.url | prepend: site.baseurl}}">Full Post</a>
					<a href = "{{ post.url | prepend: site.baseurl | append: '#disqus_thread'}}">Comments</a>
				</div><!--box-->
				</section>
				<a href = "{{site.baseurl}}" display=block>&larr;Home</a>
				<hr class = "style-two">
				{% endif %}
			{% endfor %}

		</div>
			<script type="text/javascript">
				    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			    var disqus_shortname = 'jofrhwld-academic'; // required: replace example with your forum shortname

			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function () {
			        var s = document.createElement('script'); s.async = true;
			        s.type = 'text/javascript';
			        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
			        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			    }());
			</script>
		
	</body>
	{% include analytics %}
 </html>