body {
	font: 100% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial Narrow", "Arial", "Lucida Grande", sans-serif; 
	background: #ebeb2b2;
	margin: 0;
	padding: 0;
	text-align: center; 
	color: #000000;
}

.container{
	margin-top:70px;
	width:90%;
	margin-left: auto; 
	margin-right: auto;	
}
p {
	width: 100%;
	text-align:left;
	margin-top: 1em;
	margin-bottom: 1em;
}
h1 {
	color:  #08306B;
	text-align: left;
	margin:0;
	padding:0;
	font-size: 1.7em;	
}

h2 {
	margin: 0px;
	color: #08519C;
	text-align: left;
}
h3 {
	margin: 0px;
	color: #2171B5;
	text-align: left;
}
h4 {
	margin: 0px;
	color: #4292C6;
	text-align: left;
}
p.addressline{
	padding:0;
	margin:0;
}

header {
  background: #E6E6E6;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: 1px solid black;
}

.nav-toggle:before {
  color: #B4B4B4; /* Edit this to change the icon color */
}

.nav-collapse ul ul a {
  background: #E6E6E6;
}

.nav-collapse a {
  background: #E6E6E6;
  color: #08519C;
}

.nav-collapse a:visited {
  background: #E6E6E6;
  color: #08519C;
}


.nav-collapse a:hover{
	color: #4292C6;
}

.nav-collapse a:active,
.nav-collapse .active a {
  background: #B4B4B4;
  color: #08519C;
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    border-left: 0px;
  }
}




section{
	width: 100%;
	background: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;	
	text-align: left;
}

section:before{
  display: block; 
  content: ""; 
  margin-top: -55px; 
  height: 55px; 
  visibility: hidden;
}



section.sub{
	width: 100%;
	background: #FFFFFF;
	margin-top: 5px;
	margin-bottom: 5px;	
	text-align: left;
}



a {
	color: #006837;
}

a:hover {
	color: #A6D96A;
}
a:active,
a:visited{
	color : #006837;
}

rcode{
	font-family: Courier, monospace;
	font-size: 100%;
}


.box { 
	color: #000; 
	background: #E6E6E6; 
	padding: 10px; 
	border-width: 3px;
	border-color: black;
	border-style: solid;
	overflow: auto;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.imgbox{
	color: #000; 
	background: #E6E6E6; 
	padding: 10px; 
	border-width: 3px;
	border-color: black;
	border-style: solid;
	text-align: center;
	overflow: auto;
  -moz-border-radius: 10px;
  border-radius: 10px;  
}

.imgbox img{
	max-width: 100%;
	max-height: 200px;
	border: 2px solid #acacac;	
  -moz-border-radius: 10px;
  border-radius: 10px;  
}


.pubbox{
	color: #000; 
	background: #E6E6E6; 
	padding: 10px; 
	border-width: 3px;
	border-color: black;
	border-style: solid;
  	font-size : 90%;
  	font-family :  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial Narrow", "Arial", "Lucida Grande", sans-serif; ;
  	text-align: left;
  	word-wrap: break-word;
  -moz-border-radius: 10px;
  border-radius: 10px;    

  }

h2#contact:before{
  display: block; 
  content: " "; 
  margin-top: -60px; 
  height: 60px; 
  visibility: hidden; 
}


table.pub th, table.pub td {
  font-size : 80%;
  font-family :  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial Narrow", "Arial", "Lucida Grande", sans-serif; ;
  text-align: left;
}

table.diss th, table.diss td {
  font-size : 80%;
  font-family :  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial Narrow", "Arial", "Lucida Grande", sans-serif; ;
  text-align: left;
}

ol {
	list-style: decimal;
	margin: 0 5%;
	padding: 0 5%;
}


ul.updates {
	padding-right:0;
	list-style: none;	
}
li.updates{
	margin-right:0;
}

hr.style-two {
    border: 0;
    height: 1px;
    position:relative;
    background-image: -webkit-linear-gradient(left, rgba(8, 48, 107,0),  #08306B, rgba(8, 48, 107,0)); 
    background-image:    -moz-linear-gradient(left, rgba(8, 48, 107,0), #08306B, rgba(8, 48, 107,0)); 
    background-image:     -ms-linear-gradient(left, rgba(08, 48, 107,0),  #08306B, rgba(8, 48, 107,0)); 
    background-image:      -o-linear-gradient(left, rgba(8, 48, 107,0),  #08306B, rgba(8, 48, 107,0)); 
}


.footer{
	text-align: center;
	margin-bottom: 10px;
	font-size: 500%;
	font-color: #08306B;
}
