<!DOCTYPE html>
 <html>
	<head>
		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="{{site.baseurl}}/assets/mystyle.css">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/col.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/2cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/3cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/4cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/5cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/6cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/7cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/8cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/9cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/10cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/11cols.css" media="all">
		<link rel="stylesheet" href="{{site.baseurl}}/GRID/css/12cols.css" media="all">

		<!-- Responsive Stylesheets -->
		<link rel="stylesheet" media="only screen and (max-width: 1024px) and (min-width: 769px)" href="{{site.baseurl}}/GRID/css/1024.css">
		<link rel="stylesheet" media="only screen and (max-width: 768px) and (min-width: 481px)" href="{{site.baseurl}}/GRID/css/768.css">
		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="{{site.baseurl}}/GRID/css/480.css">

	</head>
	<body class="oneColElsCtr">
		<div id="container">
			<div id = "mainContent">
				<h1>{{page.title}}</h1>
				{{ content }}
			</div>
		</div>
	</body>
	{% include analytics %}
 </html>